@charset "UTF-8";

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div{
    height: 300px;
    width: 300px;
    line-height: 270px;
    background-color: rgb(157, 0, 255);
    display: inline-block;
    font-size: 30px;
    text-align: center;

}

div > p{
    display: none;
}

#d1:hover{
    background-color: red;
    color: #fff;
}

#d2:hover{
    background-color: red;
    color: #fff;
}

#d3:hover{
    background-color: green;
    color: #fff;
}

a:hover{
    color: rgb(15, 225, 211);
}

a::after{
    content: '[link]';
    
}